<header>
     <div class="bg-primary">
         <nav class="navbar p-4">
           <a href="" style="text-decoration: none;">
                 <div class="nav-brand d-flex text-light">
                      <i class="fa-brands fa-webflow fa-2x"></i>
                      <p class="fs-3">&nbsp;Web-Mart</p>
                 </div>
           </a>
     
        
               <nav class="d-flex w-50">
                    <input type="text" class="form-control " placeholder="Search">
                    <button class="btn btn-outline-light ms-2"><i class="fa-solid fa-magnifying-glass"></i></button>
             
          
               </nav>
     
           <div class="nav ">
             <a href="wishlist"><div class="btn btn-outline-light"><i class="fa-solid fa-heart"></i> Wishlist<span class="badge bg-secondary ms-1">6</span></div></a>
             <a href="cart"><div class="btn btn-outline-light ms-3"><i class="fa-solid fa-cart-shopping"></i> Cart<span class="badge bg-secondary ms-1">6</span></div></a>
             <a href="user/login"><div class="btn btn-outline-light ms-3"><i class="fa-solid fa-right-to-bracket"></i> Login</div></a>
     
           </div>
     
         </nav>
     </div>
     
</header>