<app-header></app-header>
<div class="d-flex justify-content-center align-items-center">
  <img
    class="w-25"
    src="https://media4.giphy.com/media/hpdxVSq32dhQUdmiJC/giphy.gif?cid=6c09b952lkcedn7ql92lkb0c3cxuqn8nf432oin6inqwtaq8&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s"
    alt=""
  />
</div>
<h4 class="text-center">Your Wishlist is Empty</h4>
<p class="text-center mb-5"><a href="">Add to Wishlist</a></p>

<!-- Conditionally render -->

<h3 class="text-center">Your Wishlist</h3>

<!-- Section-->
<section class="py-3">
  <div class="container px-4 px-lg-5 mt-3">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Fancy Product</h5>
              <!-- Product price-->
              $40.00 - $80.00
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center d-flex justify-content-between">
              <a class="btn btn-outline-danger mt-auto" href="#"
                ><i class="fa-solid fa-heart"></i
              ></a>
              <a class="btn btn-outline-success mt-auto" href="#"
                ><i class="fa-solid fa-cart-shopping"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
